.btn {
    &:link,
    &:visited { /*the link pseudo class is used to style under a specific condition*/
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem; /*top botton, left right*/
        display: inline-block; /*the anchor element is an inline-element by default, need it to be inline-block*/
        border-radius: 10rem;
        transition: all .2s; /*the more shorthand version of creating an animation*/
        position: relative;
        font-size: 16px;
    }

    &:hover { /*when your mouse hovers over it*/
        transform: translateY(-3px);
        box-shadow: 0px 1rem 2rem rgba($color-black, .2); /*x, y, blur-radius, color*/
        &::after {
            transform: scale(1.5); /*changes the size to double the size it was before*/
            opacity: 0;
        }
    }

    &:active { /*this is the state of when something is clicked*/
        transform: translateY(0.1rem);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &::after {
        content: "";
        display: inline-block; /*we want the settings on this to match the settings of the element we are setting it for so inherit all the properties*/
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute; /*since we want this to sit behind the button, we set btn:link/visited to relative*/
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }


    &--animated {
        animation: moveInButton .5s ease-out .75s; /* name duration timing-function delay*/
        animation-fill-mode: backwards;
    }
}
